body{
    background: #4CB772;
    background: -webkit-linear-gradient(top left, #4CB772, #7594B3);
    background: -moz-linear-gradient(top left, #4CB772, #7594B3);
    background: linear-gradient(to bottom right, #4CB772, #7594B3);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

img{
    width: 100%;
}

p{
    margin: 0;
    font-weight: 500;
}

.container{
    max-width: 90%;
    padding: 40px 0px 60px 0px;
    margin: 0 auto;
}

.cardo{
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.massage{
    font-size: 20px;
    color: red;
    font-weight: 500;
}

.button{
    width: 100%;
    border-radius: 12px;
    border: none;
    padding: 12px;
    background: black;
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
}

.new__card-button{
    pointer-events: none;
    width: 100%;
    border-radius: 12px;
    border: none;
    padding: 12px;
    background: gray;
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
    transition: .3s;
}

.enable__click{
    pointer-events: initial;
    background: black;
}

.name{
    opacity: .8;
}

.reload{
    position: absolute;
    right: 9%;
    background: none;
    border: none;
    font-size: 24px;
    color: red;
    transition: .3s;
}   

.reload:hover{
    color: black;
}

.card__img{
    background: white;
    height: 100px;
    width: 60px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.411);
    -webkit-box-shadow: 2px 2px 5px -2px rgba(34, 60, 80, 0.18);
    -moz-box-shadow: 2px 2px 5px -2px rgba(34, 60, 80, 0.18);
    box-shadow: 2px 2px 5px -2px rgba(34, 60, 80, 0.18);
    position: relative;
    padding: 4px;
    margin-right: .5rem;
}

.red{
    color: red;
}

#thirdCard-img{
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.visible-card{
    opacity: 1 !important;
    visibility: visible !important;
}